*{
  margin: 2px;
  padding: 2px;
}

body{
    background-image: linear-gradient(240deg, #E9DAC1,#E9DAC1, white, white, white); 
    height: 100vh;
  }


.nav{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  align-items: center;
  margin: auto;
  padding-left: 60%;
  /* background-color: #EEEBDD; */
  background-color: #2E0001;
  overflow: hidden;
  border-radius: 4px;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.bg-img {
  background-image: url("./../images/rima.jpg");
    min-height: 800px;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.maincontent{
  position: relative;
  top:200px;
  left: 40px;
}

.topnav a {
  float: left;
  color: #2E0001;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.4s;
}

.buttons{
    background-color: #2E0001;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
  
  
}

.buttons:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.topnav a:hover {
  /* background-color: #f2f2f2; */
  background-color: #E9DAC1;
  color: #2E0001;
}

.form{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* in case I need a separate tag for the form */
background: rgba(255, 255, 255, 0.06);
padding: 3em;
height: 320px;
border-radius: 10px;
border-left: 2px rgba(255, 255, 255, 0.03);
border-top: 2px rgba(255, 255, 255, 0.03);
/* backdrop-filter: blur(10px);  test on home page */
box-shadow: 10px 10px 40px -6px;
text-align: center;

}


h2{
  color: #2E0001;
}


.footer {
  background: #460000;
  height: auto;
  color: #EEEBDD;
  padding-top: 10px;
  /* font-family: ; */
  margin: 0;
  box-sizing: border-box;
  position: relative;
  down: 100px;
}


.footer {
  position: relative;
  bottom:50%;
}


.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 1 rem;
  text-transform: capitalize;
  line-height: 3rem;

}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  font-size: 14px;

}

.socialmedia {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0 3rem 0;
}
.socialmedia li{
  margin: 0 10px;
}

.socialmedia a:hover{
  color: darkslategrey;
}

.footer-bottom{
 background-color: #2E0001;
 padding: 20px 0;
 text-align: center;
 text-transform: capitalize;
}

.footer-bottom span{
opacity: .4;
}

.userimg img{
  border-radius: 50%;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #E9DAC1;
  /* flex-wrap: wrap; */
  row-gap: 10px;
  column-gap: 2em;
  padding: 10px;
  
}


.box-one{
flex: 1;
border: 1px solid rgb(212, 191, 191);
box-sizing: border-box;
padding: 20px;

}

.box-two{
  flex: 1;
  border: 1px solid rgb(212, 191, 191);
  box-sizing: border-box;
  padding: 20px;
}

.box-three{
  flex: 1;
  border: 1px solid rgb(212, 191, 191);
  box-sizing: border-box;
  padding: 20px;
}
