*{
  margin: 0;
  padding: 0;
}

body{
    background-image: linear-gradient(240deg, #E9DAC1,#E9DAC1, white, white, white); 
    height: 100vh;
  }


.nav{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  align-items: center;
  margin: auto;
  padding-left: 60%;
  background-color: #EEEBDD;
  overflow: hidden;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.bg-img {
  background-image: url("./../images/rima.jpg");
    min-height: 800px;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.maincontent{
  position: relative;
  top:200px;
  left: 40px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.4s;
}

.topnav a:hover {
  background-color: #f2f2f2;
  color: black;
}

.form{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* in case I need a separate tag for the form */
background: rgba(255, 255, 255, 0.06);
padding: 3em;
height: 320px;
border-radius: 10px;
border-left: 2px rgba(255, 255, 255, 0.03);
border-top: 2px rgba(255, 255, 255, 0.03);
/* backdrop-filter: blur(10px);  test on home page */
box-shadow: 10px 10px 40px -6px;
text-align: center;

}

h2{
  color: #f2f2f2;
}

.logoutbutton{
  background-color: #460000;
  color: #EEEBDD; 
}

.footer {
  background: #460000;
  height: auto;
  color: #EEEBDD;
  padding-top: 10px;
  /* font-family: ; */
  margin: 0;
  box-sizing: border-box;
  position: relative;
  down: 100px;
}


.footer {
  position: relative;
  bottom:50%;
}


.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 1 rem;
  text-transform: capitalize;
  line-height: 3rem;

}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  font-size: 14px;

}

.socialmedia {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0 3rem 0;
}
.socialmedia li{
  margin: 0 10px;
}

.socialmedia a:hover{
  color: darkslategrey;
}

.footer-bottom{
 background-color: #2E0001;
 padding: 20px 0;
 text-align: center;
 text-transform: capitalize;
}

.footer-bottom span{
opacity: .4;
}