<body>

<div class="form">

<form action="/auth/bandsignup" method="post">

<p>Sign up</p>
<input type="text" name="bandname" placeholder="Bandname"><br>
<input type="text" name="email" placeholder="email@domain.com"><br>

<input type="password" name="password" placeholder="Password"><br>
<button type="submit">Register</button><br>

<a href="../authview/login.hbs">Already a member?</a>

{{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
</form>

</div>
</body>