

 {{#each musicians}} 
    {{this.imageUrl}}
    {{this.username}}
    {{this.instruments}}
    {{this.genre}}
    <a href="/musicians/_id"> See profile </a>    {{!-- create pages to redirect to links --}}
    {{/each}}

    
{{!-- ceate a card --}}