


    
 <div class="form">

<form action="/auth/login" method="post">
<p>Welcome</p>
<input type="text" name="username" placeholder="Username"><br>
<input type="password" name="password" placeholder="Password"><br>
<button type="button" value="Login">Log in</button><br>
<a href="#">Forgot your password?</a>

</form>

</div>

