
<div class="forms-flex"></div>

<form method="get" action="/auth/signup">
    <button class="buttons" type="submit">Sign up as musician</button>
</form>

<form method="get" action="/auth/bandsignup">
    <button class="buttons" type="submit">Sign up as band</button>
</form>



