<form method="get" action="/auth/login">
    <button class="buttons" type="submit">Login as musician</button>
</form>

<form method="get" action="/auth/bandlogin">
    <button class="buttons" type="submit">Login as band</button>
</form>