<h1>Profile</h1>

<form action="" method="post" enctype="multipart/form-data">
    <label for="name">Enter your name: </label>
    <input type="text" name="name" id="name">
    <label for="img">Image: </label>
    <input type="file" name="image" id="image">
    <label for="name">Instrument: </label>
    <input type="text" name="instrument" id="instrument">
    <label for="mediaLinks">Media Links: </label>
    <input type="text" name="mediaLinks" id="mediaLinks">
    <label for="description">Description: </label>
    <textarea name="description" id="description" cols="30" rows="10">Description</textarea>

  </div>

</form>