
<div class="content">

<h2>Signup</h2>

<form action="/auth/signup" method="post">
<input type="text" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<button type="submit">Sing up</button>

<a href="/login">Already a member?</a>

</form>

</div>